*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
}

.container {
  border: 2px solid red;
  width: 80%;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
}

.item {
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}
#item1{
    grid-column-start: 1;
    grid-column-end: 4;
}
#item2{
    grid-row-start: 2;
    grid-row-end: 5;
}
#item3{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:5; 
}
#item4{
    grid-column-start: 1 ;
    grid-column-end: 5;
    

}




