* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --primaryColor: aliceblue;
}
body {
  color: var(--primaryColor);
  background-color: rgba(0, 0, 0, 0.965);
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--primaryColor);
  background-color: rgba(37, 35, 35, 0.95);
  padding: 20px 0;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  color: var(--primaryColor);
  text-decoration: none;
}
nav ul li a:hover {
  color: red;
}
.p1 {
  display: flex;
  background-image:
  linear-gradient(rgba(254, 0, 0, 0.5), rgba(0, 187, 0, 0.5)),
    url("https://images.pexels.com/photos/270366/pexels-photo-270366.jpeg");
  align-items: center;
  justify-content: center;
  height: 800px;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.p1 ul li {
  list-style: none;
  text-align: center;
  color: rgb(194, 229, 229);
}
.b1 {
  background-color: blueviolet;
  color: aliceblue;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  transition: scale 0.5s;
}
.b1:hover {
  scale: 1.3;
}

h1 {
  font-size: clamp(2rem, 6vw, 6rem);
}
.container {
  margin: auto;
  width: 50%;
  padding: 16px;
  background-color: white;
  box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, 0.7);
}
input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: whitesmoke;
}

.btn {
  background-color: blueviolet;
  color: white;
  padding: 16px;
  border: none;
  width: 100%;
  cursor: pointer;
  margin: auto;
  opacity: 0.8;
}
#msg {
  height: 100px;
}

.about {
  padding: 80px;
}

#about {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

#about p {
  flex: 1 0 300px;
}
.skills {
  padding: 80px;
}
.outerlayer {
  background-color: white;
  height: 15px;
  border-radius: 20px;
}
.innerlayer {
  background-color: rgb(80, 25, 131);
  height: 15px;
  border-radius: 20px;
}

.heading {
  text-align: center;
  font-size: clamp(1rem, 9vw, 4rem);
}
.services {
  padding: 80px;
}
.mywork{
    padding: 80px;
}

.box {
  background-color: rgb(70, 67, 67);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#services {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

@media (max-width: 825px) {
  nav .right ul {
    display: flex;
    flex-wrap: wrap;
  }
}
#mywork {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}