*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;}
body {
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.965);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    background-color: rgba(37, 35, 35, 0.95);
    height: 70px;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
.p1{
    display: flex;
    background-image: url(backgroung.jpg) ;
    align-items: center ;
    justify-content: center;
    height: 800px;
    width: 100%; 
    background-position: center;
    background-size: cover;
    
}
.p1 ul li{
    list-style: none;
    text-align: center;
    color: rgb(194, 229, 229);
}
.b1{
    background-color: blueviolet;
    color: aliceblue;
    width: 180px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    board
}
* {
    box-sizing: border-box ;
}
.container {
    margin :auto;
    width: 50%;
    padding: 16px;
    background-color: white;
    box-shadow: 20px 20px 20px 0 rgba(0,0,0,0.7);
}
input[type="text"]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: whitesmoke;
}

.btn{
    background-color: blueviolet;
    color: white;
    padding: 16px;
    border: none;
    width: 100%;
    cursor: pointer;
    margin: auto;
    opacity: 0.8;
}
#msg{
    height: 100px;
    
}